@font-face {
  font-family: "-OC Rey";
  src: local("-OC Rey"), local("ocray"),
    url(../../Assets/Fonts/-OCRey-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Wigrum";
  src: local("Wigrum"), local("wigrum"),
    url(../../Assets/Fonts/Wigrum-Regular.otf) format("truetype");
}
